*{
    box-sizing: border-box;
}

:root{
    --pirate-blue: rgb(100, 130, 189); 
    --pirate-tan: #d1cba7;
    --pirate-orange: rgb(214, 150, 54);
    --pirate-text: black;
}
body{
    background-color: var(--pirate-tan);
}
header{
    text-align: center;
}
.card header{
    justify-content: center;
    text-align: center;
    position:relative;
    margin-top: -50px;
    background-color: var(--pirate-blue);
    border: 5px solid var(--pirate-tan);

}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
}

.card{
    display: flex;
    flex-direction: column;
    border: 5px solid var(--pirate-tan);
    padding: 10px;
    margin: 20px;
    width: 30%;
    background-image: linear-gradient(
        rgb(100, 130, 189) 0%,
        rgb(214, 150, 54) 100%
    );
}


footer{
    text-align: center;
}



@media (max-width:768px){
    .card{
        width: 100%;
    }
}

@media (max-width:992px){
    .card{
        width: 50%;
    }
}

/*
@media (max-width:768px){
    main {
        display:grid;
        width:100%;
    }
}


@media (max-width:992px){

    main {
        display:grid;
        width:100%;
        grid-template-columnns: repeat (2, auto); 
    }
}


@media (min-width: 993px) {
   .card {
       width:30%;
}

*/